/* glue: 0.3 hash: 57d66100bf */
.i {
    background-image: url(../../img/sprite/png.png?57d661);
    background-repeat: no-repeat;
    display: inline-block;
}
.i-logo {
    background-position: 0 0;
    width: 280px;
    height: 45px;
}
.i-twitter {
    background-position: 0 -45px;
    width: 18px;
    height: 18px;
}
.i-twitter-off {
    background-position: -18px -45px;
    width: 18px;
    height: 18px;
}
.i-tumblr {
    background-position: -36px -45px;
    width: 18px;
    height: 18px;
}
.i-tumblr-off {
    background-position: -54px -45px;
    width: 18px;
    height: 18px;
}
.i-lastfm {
    background-position: -72px -45px;
    width: 18px;
    height: 18px;
}
.i-lastfm-off {
    background-position: -90px -45px;
    width: 18px;
    height: 18px;
}
.i-googleplus {
    background-position: -108px -45px;
    width: 18px;
    height: 18px;
}
.i-googleplus-off {
    background-position: -126px -45px;
    width: 18px;
    height: 18px;
}
.i-facebook {
    background-position: -144px -45px;
    width: 18px;
    height: 18px;
}
.i-facebook-off {
    background-position: -162px -45px;
    width: 18px;
    height: 18px;
}
.i-star-on {
    background-position: -180px -45px;
    width: 14px;
    height: 13px;
}
.i-star-off {
    background-position: -194px -45px;
    width: 14px;
    height: 13px;
}
