.container {
    margin: 10px auto;
    padding: 5px 20px 20px;
    overflow: hidden;
}

.inner {
    padding: 10px;
}

.edge {
    margin: 0;
}

.component {
    margin-bottom: 15px;
    clear: both;
}

.oneliner {
    display: inline;
}

/* used to line up elements alongside .inner with each other */
.faux-inner {
    padding-top: 10px;
}

.breath {
    margin-bottom: 5px;
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.significant {
    width: 180px;
}

.minor {
    width: 90px;
}

.random img,
.maxed,
.jumpmenu {
    width: 100%;
}

.in-the-middle {
    text-align: center;
}

.searchterm {
    width: 110px;
}

.share-widget {
    height: 65px;
    overflow: hidden;
}

/* either lose the !importants or make this uber-specific. */
.pull-left {
    float: left !important;
    margin-left: 0 !important;
    margin-right: 2.127659574% !important;
}

.pull-right {
    float: right !important;
}

.masthead.footer {
    float: none;
}

.cf {
    clear: both;
}

.clear_left,
.clear-left {
    clear: left;
}

.clear_right,
.clear-right {
    clear: right;
}

.one-third {
    width: 30%;
    margin-right: 2%;
    float: left;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.nudge-top {
    margin-top: 10px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.fluid-width-video-wrapper {
    clear: both;
}
